{%extends "base.html"%}{% block title %}Sign Up{%endblock%}

{%block content%}
    <form class="signup" method="post">
        <p></p>
      <input type="text" id="login" name="email" placeholder="Email">
        <input type="text" id="login" name="nome" placeholder="Nome">
      <input type="password" id="password" name="password1" placeholder="Password">
        <input type="password" id="password" name="password2" placeholder="Conferma Password">
        <input type="submit" id="submit" value="Invia">
    </form>

{%endblock%}